.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #222;
  padding: 20px;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

h1 {
  color: white;
  font-size: 36px;
}